# EDA : Exploratory Data Analysis
By    : Dr Muhammad Asif Assistant\
Email : asifbwp78654@gmail.com\
Date  : 31-01-23

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Import Dataset

In [2]:
df = sns.load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# 2. Bigger picture of data

In [3]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

# 3. Find Missing Values

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

# 4. Count null values

In [5]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
df2 = df
df2

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# 5. calculate percentage of null values

In [7]:
df2.isnull().sum() * 100 / len(df2)

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

## 6. Assignment how to deal with missing values in EDA analysis....?
### Categorical/ Object, Numeric (Float, Int) Bolean (True, False)
### Impute Missing Values
### Weight / Numeric Value replace with Mean

In [8]:
df2['age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [9]:
print(df2['age'].max())
print(df2['age'].min())
print(df2['age'].mean())

80.0
0.42
29.69911764705882

## 1st technique Remove nan with Mean

In [10]:
df2['age'].fillna(df2['age'].mean(), inplace=True)

In [11]:
df2

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# 2nd Technique

In [12]:
df3 = df2
df3

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [13]:
df3.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
df3 = df3.drop(columns=["deck"])
df3

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [15]:
df3.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [16]:
df4 = df3
df4

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [17]:
df4.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [18]:
df4['embark_town'].fillna(df4['embark_town'].mode()[0], inplace=True)

In [19]:
df4.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [20]:
df4['embarked'].fillna(df4['embarked'].mode()[0], inplace=True)

In [21]:
df4.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [22]:
print("mean = ", df2["age"].mean())
print("median = ", df2['age'].median())
print("mode = ", df2['age'].mode())

mean =  29.69911764705882
median =  29.69911764705882
mode =  0    29.699118
Name: age, dtype: float64

In [23]:
print("mode = ", df2['embark_town'].mode())
print("mode = ", df2['embarked'].mode())

mode =  0    Southampton
Name: embark_town, dtype: object
mode =  0    S
Name: embarked, dtype: object

In [29]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# Steps: Data Wrangling (EDA)
1. Import Libraires
2. Import Data
3. explore your data
    1. Information
    2. Datatypes
    3. Missing Values
    4. Take sense of your Data
4. Understanding the variables
5. Relationship between the variable (Heatmap, pairplot, Correlation)
6. Brainstorming
   1. Normalize
   2. Removing outliers (not belongs to data)
7. Tidy data, clean data  
8. Ready for statistical analysis  (Data Endineer)
9. Ready for prediction
10. Ready for Machine Learning
11. Ready for DL

# Assignments
### Normalize Technique 
### Remove outliers

In [7]:
pip install jupyter nbconvert

Requirement already satisfied: jupyter in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (1.0.0)
Requirement already satisfied: nbconvert in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (7.7.4)
Requirement already satisfied: notebook in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (7.0.2)
Requirement already satisfied: qtconsole in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (5.4.3)
Requirement already satisfied: jupyter-console in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (6.6.3)
Requirement already satisfied: ipykernel in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (6.25.1)
Requirement already satisfied: ipywidgets in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (8.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (6.0.0)
Requirement already satisfied: defusedxml in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.3.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (3.0.1)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.9.2)
Requirement already satisfied: packaging in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (23.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (2.16.1)
Requirement already satisfied: tinycss2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.9.0)
Requirement already satisfied: six>=1.9.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert) (306)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbclient>=0.5.0->nbconvert) (8.3.0)
Requirement already satisfied: fastjsonschema in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.7->nbconvert) (2.18.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.7->nbconvert) (4.19.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->nbconvert) (2.4.1)
Requirement already satisfied: comm>=0.1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (1.6.7.post1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (8.14.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (1.5.7)
Requirement already satisfied: psutil in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (5.9.5)
Requirement already satisfied: pyzmq>=20 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (25.1.1)
Requirement already satisfied: tornado>=6.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (6.3.3)
Requirement already satisfied: widgetsnbextension~=4.0.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets->jupyter) (4.0.8)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets->jupyter) (3.0.8)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-console->jupyter) (3.0.39)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (2.7.2)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (2.24.0)
Requirement already satisfied: jupyterlab<5,>=4.0.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (4.0.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (0.2.3)
Requirement already satisfied: ipython-genutils in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from qtconsole->jupyter) (0.2.0)
Requirement already satisfied: qtpy>=2.0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from qtconsole->jupyter) (2.3.1)
Requirement already satisfied: backcall in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.2.0)
Requirement already satisfied: decorator in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.19.0)
Requirement already satisfied: pickleshare in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.7.5)
Requirement already satisfied: stack-data in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.6.2)
Requirement already satisfied: colorama in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.4.6)
Requirement already satisfied: attrs>=22.2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: anyio>=3.1.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (3.7.1)
Requirement already satisfied: argon2-cffi in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (23.1.0)
Requirement already satisfied: jupyter-events>=0.6.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.7.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.4.4)
Requirement already satisfied: overrides in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (7.4.0)
Requirement already satisfied: prometheus-client in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.17.1)
Requirement already satisfied: pywinpty in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.11)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.17.1)
Requirement already satisfied: websocket-client in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.6.2)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<5,>=4.0.2->notebook->jupyter) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<5,>=4.0.2->notebook->jupyter) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.9.14)
Requirement already satisfied: requests>=2.28 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.31.0)
Requirement already satisfied: wcwidth in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter) (0.2.6)
Requirement already satisfied: idna>=2.8 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (3.2.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2023.7.22)
Requirement already satisfied: argon2-cffi-bindings in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (21.2.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.2.2)
Requirement already satisfied: fqdn in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.5.1)
Requirement already satisfied: isoduration in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2.4)
Requirement already satisfied: uri-template in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.13)
Requirement already satisfied: cffi>=1.0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.15.1)
Requirement already satisfied: pycparser in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from isoduration->jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.2.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install --upgrade jupyter nbconvert

Requirement already satisfied: jupyter in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (1.0.0)
Requirement already satisfied: nbconvert in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (7.7.4)
Requirement already satisfied: notebook in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (7.0.2)
Requirement already satisfied: qtconsole in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (5.4.3)
Requirement already satisfied: jupyter-console in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (6.6.3)
Requirement already satisfied: ipykernel in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (6.25.1)
Requirement already satisfied: ipywidgets in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter) (8.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (6.0.0)
Requirement already satisfied: defusedxml in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.3.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (3.0.1)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.9.2)
Requirement already satisfied: packaging in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (23.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (2.16.1)
Requirement already satisfied: tinycss2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (5.9.0)
Requirement already satisfied: six>=1.9.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-core>=4.7->nbconvert) (306)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbclient>=0.5.0->nbconvert) (8.3.0)
Requirement already satisfied: fastjsonschema in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.7->nbconvert) (2.18.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from nbformat>=5.7->nbconvert) (4.19.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->nbconvert) (2.4.1)
Requirement already satisfied: comm>=0.1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (1.6.7.post1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (8.14.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (1.5.7)
Requirement already satisfied: psutil in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (5.9.5)
Requirement already satisfied: pyzmq>=20 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (25.1.1)
Requirement already satisfied: tornado>=6.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipykernel->jupyter) (6.3.3)
Requirement already satisfied: widgetsnbextension~=4.0.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets->jupyter) (4.0.8)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets->jupyter) (3.0.8)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-console->jupyter) (3.0.39)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (2.7.2)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (2.24.0)
Requirement already satisfied: jupyterlab<5,>=4.0.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (4.0.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from notebook->jupyter) (0.2.3)
Requirement already satisfied: ipython-genutils in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from qtconsole->jupyter) (0.2.0)
Requirement already satisfied: qtpy>=2.0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from qtconsole->jupyter) (2.3.1)
Requirement already satisfied: backcall in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.2.0)
Requirement already satisfied: decorator in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.19.0)
Requirement already satisfied: pickleshare in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.7.5)
Requirement already satisfied: stack-data in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.6.2)
Requirement already satisfied: colorama in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.4.6)
Requirement already satisfied: attrs>=22.2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: anyio>=3.1.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (3.7.1)
Requirement already satisfied: argon2-cffi in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (23.1.0)
Requirement already satisfied: jupyter-events>=0.6.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.7.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.4.4)
Requirement already satisfied: overrides in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (7.4.0)
Requirement already satisfied: prometheus-client in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.17.1)
Requirement already satisfied: pywinpty in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.11)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.17.1)
Requirement already satisfied: websocket-client in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.6.2)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<5,>=4.0.2->notebook->jupyter) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<5,>=4.0.2->notebook->jupyter) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.9.14)
Requirement already satisfied: requests>=2.28 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.31.0)
Requirement already satisfied: wcwidth in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter) (0.2.6)
Requirement already satisfied: idna>=2.8 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (3.2.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2023.7.22)
Requirement already satisfied: argon2-cffi-bindings in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (21.2.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.2.2)
Requirement already satisfied: fqdn in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.5.1)
Requirement already satisfied: isoduration in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (2.4)
Requirement already satisfied: uri-template in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.13)
Requirement already satisfied: cffi>=1.0.1 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.15.1)
Requirement already satisfied: pycparser in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\laptop inside\appdata\local\programs\python\python311\lib\site-packages (from isoduration->jsonschema>=2.6->nbformat>=5.7->nbconvert) (1.2.3)
Note: you may need to restart the kernel to use updated packages.